@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen bg-main box-border font-sans relative;
}

.game-window {
  @apply w-1/3 border-3 border-black rounded-3xl absolute py-16 px-10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 0 0 #000;
}

.game-window[data-window="rules"] {
  background-color: white;
}

.game-window[data-state="hidden"] {
  animation-name: disappear;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.game-window[data-state="visible"] {
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}

.game-window[data-state="animated"] {
  animation-name: creation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(-130%, -50%) scale(0) rotate(-40deg);
  }
}

@keyframes creation {
  0% {
    opacity: 0;
    transform: translate(40%, -50%) scale(0) rotate(40deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
}

[data-option],
[data-rules-btn] {
  box-shadow: 0 10px 0 0 #000;
}

[data-option]:hover,
[data-rules-btn]:hover {
  box-shadow: 0 10px 0 0 #0000006b;
}

[data-check] {
  position: absolute;
  bottom: -37.5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.3s;
}

[data-check]:hover .border,
[data-check]:hover .box-shadow {
  fill: #6036c9;
}

[data-overlay] {
  @apply w-full fixed left-0 top-2/4 duration-600 z-10;
  transform: translateY(-50%);
  background-color: #0000005c;
}

[data-difficulty] {
  @apply w-1/3 fixed left-1/2 top-2/4 duration-600 rounded-xl text-white bg-main text-center uppercase text-2xl py-5 z-20;
}

[data-difficulty][data-state="hidden"] {
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
}

[data-difficulty][data-state="visible"] {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}

[data-difficulty-option] {
  @apply font-bold block mx-auto uppercase relative;
}

[data-difficulty-option]:not(:last-child) {
  @apply mb-2;
}

[data-difficulty-option]::before,
[data-difficulty-option]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  transition: 0.5s;
}

[data-difficulty-option]:hover::before {
  left: 0;
  width: 50%;
}

[data-difficulty-option]:hover::after {
  right: 0;
  width: 50%;
}

[data-overlay][data-state="hidden"] {
  height: 0;
  pointer-events: none;
}

[data-overlay][data-state="visible"] {
  height: 100%;
  pointer-events: all;
}
