@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen bg-main box-border font-sans relative;
}

.game-window {
  @apply w-1/3 border-3 border-black rounded-3xl fixed py-16 px-10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 0 0 #000;
}

.game-window[data-window="rules"] {
  background-color: white;
}

.game-window[data-window="menu"] {
  background-color: #7945ff;
}

.game-window:not([data-window="menu"])[data-state="hidden"] {
  animation-name: disappear;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  pointer-events: none;
}

.game-window:not([data-window="menu"])[data-state="visible"] {
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  pointer-events: all;
}

.game-window:not([data-window="menu"])[data-state="animated"] {
  animation-name: creation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  pointer-events: all;
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(-130%, -50%) scale(0) rotate(-40deg);
  }
}

@keyframes creation {
  0% {
    opacity: 0;
    transform: translate(40%, -50%) scale(0) rotate(40deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
}

[data-option],
[data-rules-btn],
[data-continue-btn],
[data-restart-btn-main],
[data-quit-btn] {
  box-shadow: 0 10px 0 0 #000;
}

[data-option]:hover,
[data-rules-btn]:hover,
[data-continue-btn]:hover,
[data-restart-btn-main]:hover,
[data-quit-btn]:hover {
  box-shadow: 0 10px 0 0 #0000006b;
}

[data-check] {
  position: absolute;
  bottom: -37.5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.3s;
}

[data-check]:hover .border,
[data-check]:hover .box-shadow {
  fill: #6036c9;
}

[data-overlay] {
  @apply w-full fixed left-0 top-2/4 duration-600 z-10;
  transform: translateY(-50%);
  background-color: #0000005c;
}

[data-difficulty-window] {
  @apply w-1/3 fixed left-1/2 top-2/4 duration-600 rounded-xl text-white bg-main text-center uppercase text-2xl py-5 z-20;
}

[data-difficulty-window][data-state="hidden"],
[data-window="menu"][data-state="hidden"] {
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
}

[data-difficulty-window][data-state="visible"],
[data-window="menu"][data-state="visible"] {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}

[data-difficulty-level] {
  @apply font-bold block mx-auto uppercase relative;
}

[data-difficulty-level]:not(:last-child) {
  @apply mb-2;
}

[data-difficulty-level]::before,
[data-difficulty-level]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  transition: 0.5s;
}

[data-difficulty-level]:hover::before {
  left: 0;
  width: 50%;
}

[data-difficulty-level]:hover::after {
  right: 0;
  width: 50%;
}

[data-overlay][data-state="hidden"] {
  height: 0;
  pointer-events: none;
}

[data-overlay][data-state="visible"] {
  height: 100%;
  pointer-events: all;
}

[data-manipulate-game],
[data-playing-interaction] {
  transition: 1s ease-in-out;
}

[data-manipulate-game][data-state="hidden"] {
  transform: translateY(-120%);
}

[data-manipulate-game][data-state="visible"] {
  transform: translateY(0);
}

[data-playing-interaction][data-state="hidden"] {
  transform: translateY(120%);
}

[data-playing-interaction][data-state="visible"] {
  transform: translateY(0);
}

.player {
  position: absolute;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  width: 9rem;
  border-radius: 20px;
  border: 3px solid #000;
  box-shadow: 0 10px 0 0 #000;
  padding: 15px 0;
  transition: background-color 0.3s ease-in-out;
}

[data-player-type="1"][data-state="hidden"] {
  left: -120%;
}

[data-player-type="1"][data-state="animated"] {
  transition: 1s ease-in-out;
  left: 17%;
}

[data-player-type="1"][data-state="active"] {
  @apply bg-main2 text-white;
  transition: none;
  left: 17%;
}

[data-player-type="1"][data-state="stable"] {
  transition: none;
  left: 17%;
}

[data-player-type="2"][data-state="hidden"] {
  right: -120%;
}

[data-player-type="2"][data-state="animated"] {
  transition: 1s ease-in-out;
  right: 7%;
}

[data-player-type="2"][data-state="stable"] {
  transition: none;
  right: 7%;
}

[data-player-type="2"][data-state="active"] {
  @apply bg-main3;
  right: 7%;
}

[data-winner-color="red"] {
  @apply bg-main2 text-white;
  top: 28%;
  left: 13.5%;
}

[data-winner-color="yellow"] {
  @apply bg-main3;
  top: 28%;
  right: 13.7%;
}

.tile {
  @apply w-full h-full rounded-circle duration-500;
  margin-top: 5px;
  z-index: -100;
}
